<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vuejs, Lesson 5. Computed properties</title>
</head>
<body>
    <h1>Vuejs, Lesson 5. Computed properties</h1>
    <hr>
    
    <div id="app">
        <h2>{{ fullName }}</h2>
        <input type="text" v-model="firstName" placeholder="first name">
        <input type="text" v-model="lastName" placeholder="last name">
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                firstName: 'Bayir',
                lastName: 'Darmaev'
            },
            computed: {
                fullName: function() {
                    return this.firstName + ' ' + this.lastName;
                }
            }
        });
    </script>
</body>
</html>